.borderLine{
    border: 1px solid maroon;
    margin-top: 5px;
}

header{
    width: 100%;
    height: 100px;
}


main{
    width: 56%;
    height: 100vh;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

aside{
    float: left;
    width: 20%;
    height: 100vh;
}

footer{
    width: 100%;
    height: 100px;
    float: left;
}