.borderLine{
    border: 1px solid skyblue;
    margin-top: 10px;
}

.container { 
    display: flex;
    flex-wrap: wrap;
}

header, nav, main, aside, section, article, footer {
    flex: 1;
    margin: 5px; 
}

header{
    background-color: blue;
    width: 97%;
    height: 100px;
}

nav{
    background-color: lightblue;
    width: 97%;
    height: 75px;
}

main{
    background-color: lightgrey;
    width: 45%;
    height: 100vh;
    float: left;
}

aside{
    background-color: lightgray;
    float: left;
    width: 25%;
    height: 45vh;
}

section{
    background-color: lightgray;
    float: left;
    width: 25%;
    height: 45vh;
}

article{
    background-color: lightgray;
    float: left;
    width: 51%;
    height: 53vh;
}

footer{
    background-color: aqua;
    width: 97%;
    height: 100px;
    float: left;
}

@media (max-width: 768px) {
    aside, section, article {
        flex: 1 100%;
    }
}