.borderline {
    display: flex;
    border: 1px solid maroon;
    flex-flow: row wrap;
    text-align: center;
  }
  
  .container {
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
  }
  
  header {
    background: greenyellow;
    height: 120px;
  }
  
  nav {
    background: yellow;
    height: 80px;
  }
  
  main {
    background: yellowgreen;
    float: left;
    width: 30%;
    height: 300px;
    padding: 40px;
  }

  aside {
    background: yellowgreen;
    float: left;
    width: 30%;
  }
  
  footer {
    background: lightgreen;
    float: left;
    height: 80px;
  }
  

  
  @media all and (min-width: 800px) {
    main {
      flex: 2;
    }
  
    aside {
      order: 2;
    }
  
    main{
        order: 1;
    }
  
    .footer {
      order: 4;
    }
  }
  
  @media all and (min-width: 600px) {
    aside { 
        flex: 1;
    }
  }