.borderline {
    display: flex;
    border: 1px solid maroon;
    flex-flow: row wrap;
    text-align: center;
  }
  
  .container {
    margin: 5px;
    flex: 1%;
    border-radius: 10px;
  }
  
  header {
    background: darkmagenta;
    height: 120px;
  }
  
  nav {
    background: violet;
    height: 80px;
  }
  
  main {
    background: pink;
    float: right;
    width: 49.8%;
    height: 500px;
  }

  aside {
    background: pink;
    float: left;
    width: 49.8%;
    height: 500px;
  }
  
  footer {
    background: purple;
    height: 80px;
    width: 100%;
  }