body {
    margin: 0;
    padding: 0;
}

.borderline {
    border: 1px solid skyblue;
    margin-top: 10px;
    box-sizing: border-box;
}

header, nav, aside, main, footer {
    padding: 10px;
}

header, footer {
    height: 100px;
}

nav, aside {
    width: 20%;
    height: calc(100vh - 220px);
    float: left;
}

main {
    width: 57%;
    height: calc(100vh - 220px);
    float: left;
}

@media (max-width: 768px) {
    nav, aside {
        width: 100%;
        float: none;
    }
    main {
        width: 100%;
    }
}
